<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Space Tourism Website</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../public/css/main.css">

</head>
<body>
    <header class="main-nav">
        <svg class="main-nav__logo" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M20 0C20 0 20 20 0 20C19.648 20.1428 20 40 20 40C20 40 20 20 39.9999 20C20 20 20 0 20 0Z" fill="#0B0D17"/>
        </svg>
        <svg class="main-nav__burger" width="24" height="21" viewBox="0 0 24 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="Group">
                <rect id="Rectangle" width="24" height="3" fill="#D0D6F9"/>
                <rect id="Rectangle Copy" y="9" width="24" height="3" fill="#D0D6F9"/>
                <rect id="Rectangle Copy 2" y="18" width="24" height="3" fill="#D0D6F9"/>
            </g>
        </svg>
        <nav class="desktop-navigation">
          <ul class="desktop-navigation__nav-items">
              <li class="desktop-navigation__nav-item">
                  <a href="/">
                      Home
                  </a>
              </li>
          </ul>
        </nav>
    </header>

    <nav class="navigation hidden">
        <div class="navigation__cross-icon">
            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="Group">
                    <rect id="Rectangle Copy" x="2.5752" y="0.954102" width="24" height="3" transform="rotate(45 2.5752 0.954102)" fill="#D0D6F9"/>
                    <rect id="Rectangle Copy 3" x="0.454102" y="17.9246" width="24" height="3" transform="rotate(-45 0.454102 17.9246)" fill="#D0D6F9"/>
                </g>
            </svg>
        </div>
        <ul class="navigation__nav-items">
            <li class="navigation__nav-item">
                <a href="/">
                    <span class="navigation__page-number">00</span>
                    Home
                </a>
            </li>
        </ul>
    </nav>
