{% include './includes/header.twig' %}

<main class="technology-page">
    <p class="technology-page__first-paragraph">
        <span>03</span>
        Space launch 101
    </p>

    <div class="technology-page__main-img">
    </div>
    

    <ul class="technology-page__technology-steps">
        <li class="technology-page__technology-step technology-page__technology-step--active" data-id="launch-vehicle">1</li>
        <li class="technology-page__technology-step" data-id="spacesport">2</li>
        <li class="technology-page__technology-step" data-id="space-capsule">3</li>
    </ul>

    <p class="technology-page__technology-heading">The terminology...</p>
    <p class="technology-page__technology-name">Launch vehicle</p>

    <p class="technology-page__technology-description">
        A launch vehicle or carrier rocket is a rocket-propelled vehicle used to carry a payload from Earth's surface to space, usually to Earth orbit or beyond. Our WEB-X carrier rocket is the most powerful in operation. Standing 150 metres tall, it's quite an awe-inspiring sight on the launch pad!
    </p>
</main>

<script src="../../public/js/technologiesData.js"></script>
<script src="../../public/js/technology.js"></script>

{% include './includes/footer.twig' %}
