{% include './includes/header.twig' %}

<main class="home-page">
  <div class="home-page__main-content">
    <h1>E-commerce webpage</h1>
    <section class="article-section">
      <h2>Our products</h2>
      <p>test</p>
      <div>
        {% for product in products %} 
          
            <article>
              <h3>{{product.name}}</h3>
              <p>{{product.price}} $</p>
                <form method="get" action="/product">
                  <input type="hidden" name="id" value="{{ product.id }}"/>
                  <button type="submit" value="buy">
                    <p>Buy</p>
                  </button>
                </form>
            </article>
        {% endfor %}
      </div>
    </section>
</main>

{% include './includes/footer.twig' %}