.crew-page::before {
    background-image: url("../../public/img/bg-crew-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: -1;


    @media screen and (min-width: $tablet) {
      background-image: url("../../public/img/bg-crew-tablet.jpg");
    }

    
    @media screen and (min-width: $desktop) {
        background-image: url("../../public/img/bg-crew-desktop.jpg");
      }
}

.crew-page {
    color: $white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 90%;
    max-width: 445px;

    @media screen and (min-width: $desktop) {
        max-width: 1024px;
        width: 50%;
        text-align: left;
        margin-left: unset;
        margin-right: unset;
    }

    &__first-paragraph {
        @include heading-h5;

        text-transform: uppercase;
        margin-bottom: 32px;

        @media screen and (min-width: $tablet) {
          text-align: left;
          margin-bottom: 60px;
        }
    }

    &__crew-member {
        height: 222px;
        margin-left: auto;
        margin-right: auto;

        @media screen and (min-width: $tablet) {
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          height: 450px;
        }

        @media screen and (min-width: $desktop) {
            bottom: 0;
            left: unset;
            right: 0;
            transform: unset;
          }
    }

    &__bullets-list {
        border-top: 1px solid $bright-gray;
        display: flex;
        flex-direction: row;
        gap: 16px;
        justify-content: center;
        list-style-type: none;
        margin-bottom: 32px;
        padding-left: 0;
        padding-top: 32px;

        @media screen and (min-width: $tablet) {
          border-top: none;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
    }

    &__bullet {
        background-color: $white;
        border-radius: 100%;
        content: "";
        cursor: pointer;
        height: 10px;
        opacity: .2;
        transition: .4s;
        width: 10px;

        &:hover {
            opacity: .4;
        }

        &--active {
            opacity: 1;
        }
    }

    &__crew-role {
        @include heading-h4;

        opacity: .45;
    }

    &__member-name {
        @include heading-h3;

        font-weight: 300;
    }

    &__member-description {
        @include body-text;

        color: $tropical-blue;
    }
}
