.destination-page::before {
    background-image: url("../../public/img/bg-destination-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    content: "";

    // It's not perfect yet. For smaller resolutions, it doesn't fully work.
    height: 120vh;
    
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: -1;


    @media screen and (min-width: $tablet) {
      background-image: url("../../public/img/bg-destination-tablet.jpg");
      height: 100vh;
    }

    @media screen and (min-width: $tablet) {
        background-image: url("../../public/img/bg-destination-desktop.jpg");
      }
}

.destination-page {
    color: $white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 90%;
    max-width: 445px;

    @media screen and (min-width: $desktop) {
        max-width: 1440px;
        width: 80%;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 80vh;
        justify-content: space-between;
        text-align: left;
    }

    &__destination-container {
        @media screen and (min-width: $desktop) {
            width: 40%;
        }
    }

    &__first-paragraph {
        @include heading-h5;

        text-transform: uppercase;
        margin-bottom: 32px;

        @media screen and (min-width: $tablet) {
          text-align: left;
          margin-bottom: 60px;
        }
    }

    &__planet-image {
        height: 10.625rem;
        width: 10.625rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 24px;


        @media screen and (min-width: $tablet) {
          height: 300px;
          width: 300px;
          margin-bottom: 56px;
        }

        @media screen and (min-width: $desktop) {        
            max-width: 445px;
            width: auto;
            height: auto;
          }
    }

    &__planets-data {
        @media screen and (min-width: $desktop) {
            width: 40%;
        }
    }

    &__planets-list {
        padding-left: 0;
        list-style-type: none;
        display: flex;
        gap: 24px;
        justify-content: center;
        margin-bottom: 24px;

        @media screen and (min-width: $tablet) {
          margin-bottom: 32px;
        }

        @media screen and (min-width: $desktop) {
            justify-content: start;
          }
    }

    &__planet {
        @include nav-text;

        cursor: pointer;
        color: $tropical-blue;
        transition: .4s;
        border-bottom: 3px solid transparent;

        &:hover {
            color: $white;
        }

        &--active {
            color: $white;
            border-bottom: 3px solid $white;
        }
    }

    &__planet-name {
        @include heading-h3;

        margin-top: 0;
        margin-bottom: 0;
        text-transform: uppercase;
    }

    &__planet-description {
        @include body-text;

        color: $tropical-blue;
        margin-bottom: 32px;
    }

    &__travel-info {
        border-top: 1px solid $bright-gray;
        padding-top: 32px;
        list-style-type: none;
        padding-left: 0;

        @media screen and (min-width: $tablet) {
          display: flex;
          justify-content: space-evenly;
          align-items: baseline;
        }

        @media screen and (min-width: $desktop) {
            justify-content: space-between;
          }
    }

    &__avg-distance {
        @include subheading-h2;

        display: flex;
        flex-direction: column;
        margin-bottom: 32px;
        color: $tropical-blue;
    }

    &__avg-distance-value {
        @include subheading-h1;

        color: $white;
    }

    &__travel-time {
        @include subheading-h2;

        display: flex;
        flex-direction: column;
        color: $tropical-blue;
    }

    &__travel-time-value {
        @include subheading-h1;

        color: $white;
    }
}
