.home-page::before {
  background-image: url("../../public/img/bg-home-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: -1;

  @media screen and (min-width: $tablet) {
    background-image: url("../../public/img/bg-home-tablet.jpg");
  }

  @media screen and (min-width: $desktop) {
    background-image: url("../../public/img/bg-home-desktop.jpg");
    height: 100%;
  }
}

.home-page {
  color: $white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 90%;

  @media screen and (min-width: $tablet) {
    max-width: 445px;
    padding-bottom: 130px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 1440px;
    width: 80%;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 0;
    height: 80vh;
  }

  &__main-content {
    @media screen and (min-width: $desktop) {
      width: 470px;
    }
  }

  &__first-paragraph {
    @include heading-h5;

    text-transform: uppercase;
  }

  &__main-title {
    @include heading-h1;

    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  &__description {
    @include body-text;

    margin-bottom: 80px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 156px;
    }

    @media screen and (min-width: $desktop) {
      margin-bottom: 0px;
    }
  }

  &__cta {
    align-items: center;
    background-color: $white;
    border-radius: 100%;
    color: $vulcan;
    display: flex;
    font-size: 20px;
    height: 150px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    text-transform: uppercase;
    width: 150px;

    @media screen and (min-width: $tablet) {
      height: 240px;
      width: 240px;
      font-size: 32px;
    }

    @media screen and (min-width: $desktop) {
      margin-right: 0;
    }
  }
}

