.main-nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-bottom: 48px;

  // For now, I keep this here before moving to general rules on the body
  padding-top: 24px;

  &__logo {
    background-color: $white;
    border-radius: 50%;
  }

  &__burger {
    cursor: pointer;
  }
}
